{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Главная</title>
{% endblock title %}

{% block banner %}
    <!-- Баннер -->
    <banner class="jumbotron jumbotron-fluid banner">
        <div class=" banner-promo">
            <div class="banner_box">
                <div class="container ">
                    <div class="row banner_content">
                        <div class="  banner-promo-main">
                            <div class="col-md-12 banner-promo-main__header">Выполняйте практику,</br>которая вам
                                нравится
                            </div>
                            <div>
                                <button class=" btn    banner-promo-main__button" href="{% url 'student_signup' %}">
                                    Разместить резюме
                                </button>
                                <button class=" btn    banner-promo-main__button" href="{% url 'company_signup' %}">
                                    Опубликовать вакансию
                                </button>
                            </div>
                        </div>
                        <div class="    banner-info">
                            <div class="banner-info__item">
                                <div class="banner-info__item__header">4354</div>
                                <div class="banner-info__item__comment">Резюме</div>
                            </div>
                            <div class="banner-info__item">
                                <div class="banner-info__item__header">1200</div>
                                <div class="banner-info__item__comment">Вакансий</div>
                            </div>
                            <div class="banner-info__item">
                                <div class="banner-info__item__header">120+</div>
                                <div class="banner-info__item__comment">Практик выполнено</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </banner>
    <!-- Конец баннера -->
{% endblock banner %}

{% block content %}

    <!-- Популярные категории -->
    <div class="row categories">
        <h3 class="col-md-12 categories__header">Популярные категории</h3>
        <div class="col-md-12 ">
            <div class="categories__content">
                <div class="categories__content-cards col-md-9">
                    <div class="row">
                        <div class="card-category  ">
                            <div class="card-category__content">
                                <div class="card-category__header">Инженер-конструктор</div>
                                <div class="card-category__counter"><span
                                        class="card-category__counter__number">312</span>
                                    вакансий
                                </div>
                            </div>
                        </div>
                        <div class="card-category  ">
                            <div class="card-category__content">
                                <div class="card-category__header">Инженер-конструктор</div>
                                <div class="card-category__counter"><span
                                        class="card-category__counter__number">312</span>
                                    вакансий
                                </div>
                            </div>
                        </div>
                        <div class="card-category  ">
                            <div class="card-category__content">
                                <div class="card-category__header">Инженер-конструктор</div>
                                <div class="card-category__counter"><span
                                        class="card-category__counter__number">312</span>
                                    вакансий
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories__content-more col-md-4">
                    <ul class="categories__content-more-list">
                        <li class="categories__content-more-list__item">Маркетинг, реклама, PR <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                        <li class="categories__content-more-list__item">Директор по персоналу <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                        <li class="categories__content-more-list__item">Инженер по летным испыта <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                        <li class="categories__content-more-list__item">Инженер по эксплуатации с... <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                        <li class="categories__content-more-list__item">Заместитель начальника упр... <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                        <li class="categories__content-more-list__item">Программист... <span
                                class="categories__content-more-list__item-counter">(321)</span></li>
                    </ul>
                    <a class="categories__content-more-all">Посмотреть все вакансии</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Конец популярных категорий -->

    <div class="row">
        <!-- Популярные вакансии -->
        <div class="col-xs-12 col-md-9 vacancies">
            <h3 class="vacancies__header">Популярные вакансии</h3>
            <div class="card-vacancy">
                <div class="col-md-1">
                    <img class="card-vacancy__logo img-responsive" src="{% static 'img/vacancies/mig.gif' %}"/>
                </div>
                <div class="col-md-11">
                    <div class="card-vacancy__description">
                        <h4 class="card-vacancy__description__header">Инженер 1-й категории Отдела организации и
                            контроля технической поддержки</h4>
                        <h5 class="card-vacancy__description__company">РСК "МИГ"</h5>
                        <span class="card-vacancy__description__course">Курс: 2 и выше</span>
                        <p class="card-vacancy__description__requirements">Внедрение социальной политики в Корпорации.
                            Определение потребности персонала по социальной политике,
                            встраивание Единой системы по всей Корпорации. Ведение коллективного договора...</br>
                            Образование высшее</p>
                        <div class="card-vacancy__description__feedback">
                            <button class="btn btn-primary btn-lg  card-vacancy__description__feedback__button">
                                Откликнуться
                            </button>
                            <span class="card-vacancy__description__feedback__date">12 Февраль 2018</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-vacancy">
                <div class="col-md-1">
                    <img class="card-vacancy__logo img-responsive" src="{% static 'img/vacancies/mig.gif' %}"/>
                </div>
                <div class="col-md-11">
                    <div class="card-vacancy__description">
                        <h4 class="card-vacancy__description__header">Инженер 1-й категории Отдела организации и
                            контроля технической поддержки</h4>
                        <h5 class="card-vacancy__description__company">РСК "МИГ"</h5>
                        <span class="card-vacancy__description__course">Курс: 2 и выше</span>
                        <p class="card-vacancy__description__requirements">Внедрение социальной политики в Корпорации.
                            Определение потребности персонала по социальной политике,
                            встраивание Единой системы по всей Корпорации. Ведение коллективного договора...</br>
                            Образование высшее</p>
                        <div class="card-vacancy__description__feedback">
                            <button class="btn btn-primary btn-lg  card-vacancy__description__feedback__button">
                                Откликнуться
                            </button>
                            <span class="card-vacancy__description__feedback__date">12 Февраль 2018</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-vacancy">
                <div class="col-md-1">
                    <img class="card-vacancy__logo img-responsive" src="{% static 'img/vacancies/mig.gif' %}f"/>
                </div>
                <div class="col-md-11">
                    <div class="card-vacancy__description">
                        <h4 class="card-vacancy__description__header">Инженер 1-й категории Отдела организации и
                            контроля технической поддержки</h4>
                        <h5 class="card-vacancy__description__company">РСК "МИГ"</h5>
                        <span class="card-vacancy__description__course">Курс: 2 и выше</span>
                        <p class="card-vacancy__description__requirements">Внедрение социальной политики в Корпорации.
                            Определение потребности персонала по социальной политике,
                            встраивание Единой системы по всей Корпорации. Ведение коллективного договора...</br>
                            Образование высшее</p>
                        <div class="card-vacancy__description__feedback">
                            <button class="btn btn-primary btn-lg  card-vacancy__description__feedback__button">
                                Откликнуться
                            </button>
                            <span class="card-vacancy__description__feedback__date">12 Февраль 2018</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Конец популярных вакансий -->

        <!-- Компании -->
        <div class="col-xs-12 col-md-3 companies">
            <h3 class="companies__header">Компании</h3>

            <div class="card-company-item">
                <div class="card-company-item__logoContainer">
                    <img class="img-responsive card-company-item__logo" src="{% static 'img/companies/sukhoi.jpg' %}"/>
                </div>
                <div class="card-company-item__description">
                    <span class="card-company-item__description__name">Сухой, компания</span>
                    <span class="card-company-item__description__vacancies">
                        <span class="card-company-item__description__count">12</span> вакансий</span>
                </div>
            </div>
            <div class="card-company-item">
                <div class="card-company-item__logoContainer">
                    <img class="img-responsive card-company-item__logo" src="{% static 'img/companies/sukhoi.jpg' %}"/>
                </div>
                <div class="card-company-item__description">
                    <span class="card-company-item__description__name">Сухой, компания</span>
                    <span class="card-company-item__description__vacancies">
                        <span class="card-company-item__description__count">12</span> вакансий</span>
                </div>
            </div>
            <div class="card-company-item">
                <div class="card-company-item__logoContainer">
                    <img class="img-responsive card-company-item__logo" src="{% static 'img/companies/sukhoi.jpg' %}"/>
                </div>
                <div class="card-company-item__description">
                    <span class="card-company-item__description__name">Сухой, компания</span>
                    <span class="card-company-item__description__vacancies">
                        <span class="card-company-item__description__count">12</span> вакансий</span>
                </div>
            </div>

        </div>
        <!-- Конец компаний -->
    </div>

{% endblock content %}