{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Вакансии компании</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <!-- Компания -->
        <div class="col-md-3 card-company">
            <div class="card-company__head">
                <img class="card-company__head__logo" src="{% static 'img/companies/sukhoi-rus.jpg' %}"/>
            </div>
            <div class="card-company__description">
                <div class="card-company__description__name">
                    ПАО "Сухой"
                </div>
                <div class="card-company__description__count">
                    12 <span style="color: black">вакансий</span>
                </div>
                <p>Штаб-квартира: <span class="card-company__description-light"></br>Москва</span></p>
                <p>Основатель: <span class="card-company__description-light"></br>Павел Осипович Сухой</span></p>
                <p>Дата основания: <span class="card-company__description-light"></br>1939, г.Москва</span></p>
                <p>Сферы деятельности: <span class="card-company__description-light"></br>Тяжелое машиностроение</br>
                    Финансовый сектор</span></p>
                <p>Генеральный директор: <span class="card-company__description-light"></br>Озар Игорь Яковлевич</span>
                </p>
                <p>Телефон: <span class="card-company__description-light"></br>+7 (499) 550-01-06</span></p>
                <p>Почта: <span class="card-company__description-light"></br>info@sukhoi.org</span></p>
            </div>
        </div>
        <!-- Конец компании -->

        <!-- Вакансия -->
        <div class="col-md-8 vacancies vacancies-description">
            <h3 class="vacancies__header">Инженер 1-й категории Отдела организации и контроля технической поддержки</h3>
            <div class="row">
                <div class="col-md-9">
                    <div><span class="vacancies-light">Курс:</span> 2 и выше</div>
                    <div><span class="vacancies-light">Факультет:</span> №3 Системы управления, информатика и
                        электроэнергетика
                    </div>
                    <div><span class="vacancies-light">Кафедра:</span> №304 Вычислительные машины, системы и сети</div>
                    <div><span class="vacancies-light">Специальность:</span> Системы управления ЛА</div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary " style="padding: 6px 24px">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Откликнуться
                    </button>
                </div>

            </div>

            <div class="vacancies__body">
                <p>Требуемый опыт работы: не требуется</br>Частичная занятость</p>
                <p>Обязанности:</p>
                <ul>
                    <li>Общение с клиентами компании по ip-телефонии</li>
                    <li>Работа с ПК</li>
                    <li>Контроль и обспечение качественного обслуживания клиентов</li>
                    <li>График работы: с 15:00 до 20:00</li>
                    <li>Оклад: 15000 руб.</li>
                </ul>
                <p>НЕ СЕТЕВОЙ МАРКЕТИНГ. ПРЯМОЙ РАБОТОДАТЕЛЬ. НЕ ПРОДАЖИ!</p>
                <p>Требования:</p>
                <ul>
                    <li>Грамотная речь</li>
                    <li>Пунктуальность</li>
                    <li>Опыт работы (приветствуется)</li>
                    <li>Нацеленность на результат0/li>
                </ul>

                <p>Условия:</p>
                <ul>
                    <li>Официальное устройство; сой.пакет.</li>
                    <li>Офис в центра. В шаговой доступности от м. Шабловская.</li>
                    <li>Своевременные выплаты з/п.</li>
                    <li>Нацеленность на результат0/li>
                </ul>

            </div>
        </div>
        <!-- Конец вакансии -->
    </div>
{% endblock content %}